/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 24px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --size-border-radius: 4px;
  /* Annimation */
  --animation-duration: 350ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  cursor: default;
}
a {
  text-decoration: none;
  color: var(--color-white);
}
ul {
  padding-left: 0;
}
li {
  list-style: none;
}
button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: var(--color-white);
  position: fixed;
  top: 0;
  width: 100%;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}
#navbar.navbar--dark {
  background-color: var(--color-pink);
}
.navbar__logo {
  margin: 20px;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}
.navbar__menu {
  display: flex;
}
.navbar__menu--item {
  padding: 8px 12px;
  margin: 0px 4px;
  border-radius: var(--size-border-radius);
  border: 1px solid transparent;
  cursor: pointer;
}
.navbar__menu--item.active {
  border: 1px solid var(--color-white);
}
.navbar__menu--item:hover {
  background-color: var(--color-dark-pink);
  border: 1px solid var(--color-white);
}
.navbar__toggle-btn {
  position: absolute;
  top: 16px;
  right: 20px;
  width: 36px;
  height: 30px;
  display: none;
}
.navbar__toggle-btn:hover .navbar__toggle-btn span:nth-child(0) {
  opacity: 0;
}
.navbar__toggle-btn span {
  position: absolute;
  background-color: var(--color-white);
  width: 100%;
  height: 4px;
  border-radius: 2.5px;
}
.navbar__toggle-btn span:nth-child(0) {
  top: 0;
}
.navbar__toggle-btn span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%);
}
.navbar__toggle-btn span:nth-child(2) {
  bottom: 0;
}

/* Home */
#home {
  background: url(imgs/homebackground-200515-154505.png) center/cover no-repeat;
  padding: 80px 40px 40px 40px;
  text-align: center;
}
.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}
.home__title,
.home__description {
  color: var(--color-white);
}
.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

/* Section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}
.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}
.major__icon {
  font-size: 100px;
  width: 180px;
  height: 180px;
  line-height: 180px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 16px;
  color: var(--color-blue);
  border: 2px solid var(--color-blue);
}
.major__icon > i {
  top: 5px;
  position: relative;
  transition: all var(--animation-duration) ease-in-out;
}
.major__icon:hover i {
  transform: rotate(-30deg) scale(1.2);
  color: var(--color-pink);
}
.major__title,
.major__description {
  color: var(--color-dark-grey);
}
.career {
  display: flex;
  align-items: center;
}
.career__description {
  margin: 0px 16px;
}
.career__logo {
  width: 40px;
}
.career__name,
.career__period {
  color: var(--color-light-grey);
}
.career__name {
  font-size: var(--font-small);
}
.career__period {
  font-size: var(--font-micro);
}

/* Skills */

#skills {
  background-color: var(--color-yellow);
}
.skillset {
  display: flex;
  color: var(--color-light-white);
  align-content: space-between;
  background-color: var(--color-light-grey);
  margin: 20px 0px;
}
.skillset__title {
  color: var(--color-white);
  margin: 0;
}
.skillset__left {
  background-color: var(--color-dark-grey);
  flex-basis: 60%;
  padding: 30px 30px;
}
.skillset__right {
  display: flex;
  flex-flow: column;
  flex-basis: 40%;
}
.tools {
  background-color: var(--color-grey);
}
.skill__description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}
.skill__bar,
.skill__value {
  background-color: var(--color-grey);
  width: 100%;
  height: 12px;
  border-radius: 3px;
}
.skill__value {
  background-color: var(--color-orange);
}
.skill {
  margin: 14px;
}

/* Work */
.work__container {
  max-width: 1350px;
  margin: auto;
}
.work__categories {
  margin: 40px;
}
.category__btn {
  width: 280px;
  border: 1px solid var(--color-dark-grey);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 40px;
  margin: 3px 0px;
}
.category__btn.selected,
.category__btn:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
}
.category__btn.selected .category__count,
.category__btn:hover .category__count {
  top: 0;
  opacity: 1;
}

.category__count {
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
  background-color: var(--color-orange);
  color: var(--color-white);
  display: inline-block;
  position: relative;
  top: 15px;
  left: 4px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
  /* pointer-events: none; */
}

.work__projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transition: all var(--animation-duration) ease-out;
}
.work__projects.anim-out {
  opacity: 0.9;
  transform: scale(0.98) translateY(10px);
}
.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
}
.project.invisible {
  display: none;
}
.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0);
  transition: all var(--animation-duration) ease-in;
}
.project:hover .project__description h3::after {
  transform: rotate(-180deg);
  transition: all var(--animation-duration) ease-in;
}
.project:hover .project__description span::before {
  transform: rotate(180deg);
  transition: all var(--animation-duration) ease-in;
}
.project__img {
  max-width: 100%;
  max-height: 100%;
}
.project__description {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  opacity: 0;
  transform: translateY(8px);
}

.project__description h3 {
  color: var(--color-white);
}
.project__description span {
  margin-top: 12px;
}

.project__description h3::after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -12.5px;
  bottom: 47.5%;
  display: block;
  width: 20px;
  height: 2px;
  background-color: var(--color-white);
}

.project__description span::before {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -12.5px;
  bottom: 47.5%;
  display: block;
  width: 20px;
  height: 2px;
  background-color: var(--color-white);
}

/* testimonial */

#testimonials {
  background-color: var(--color-light-white);
}
.testimonial__container {
  max-width: 1200px;
  margin: auto;
}
.testimonials {
  margin: 40px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.testimonial {
  display: flex;
  align-items: flex-end;
  margin: 20px 0px;
}

.testimonial__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.testimonial__avatar:nth-child(odd) {
  margin-right: 30px;
}
.testimonial__avatar:nth-child(even) {
  margin-left: 30px;
}
.testiomonial__speech-bubble {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  padding: 20px;
  border-radius: 30px;
}
.testiomonial__speech-bubble p {
  color: var(--color-light-grey);
}
.testiomonial__speech-bubble a {
  color: var(--color-pink);
}

/* Contact */
#contact {
  background-color: var(--color-pink);
}
.contact__title,
.contact__email,
.contact__links,
.contact__right {
  color: var(--color-white);
}
.contact__title {
  margin: 32px 0px;
}
.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
}
.contact__links i:hover {
  transform: scale(1.2);
  transition: all var(--animation-duration) ease-in;
}

/* arrow btn */
.arrow--up {
  position: fixed;
  background-color: var(--color-pink);
  width: 40px;
  height: 40px;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  z-index: 1;
  font-size: var(--font-medium);
  color: var(--color-white);
  opacity: 0;
  pointer-events: none;
  transition: all var(--animation-duration) ease-in-out;
}
.arrow--up.arrow-pop {
  opacity: 1;
  pointer-events: auto;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
  }
  #navbar {
    flex-flow: column;
    align-items: flex-start;
  }
  .navbar__menu {
    flex-flow: column;
    text-align: center;
    width: 100%;
    display: none;
  }
  .about__majors {
    flex-flow: column;
  }
  .major__description {
    margin-bottom: 32px;
  }
  .skillset {
    flex-flow: column;
  }
  .project {
    flex-grow: 1;
  }
  .category__btn {
    margin: 0;
  }
  .testimonial__avatar {
    width: 80px;
    height: 80px;
  }
  .category__btn {
    width: 190px;
    margin: 3px 0px;
  }
}
